<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <a href="#"><h1>MyBlog</h1></a>
      <p>This is my first blog</p>

      <div class="ui massive breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> / </div>
        <a class="active section" href="/register">Registration</a>
        <div class="divider"> / </div>
        <a class="section" href="/login">Login</a>
    </div>
    </div>
  </div>
</div>