<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <h1>MyBlog</h1>

      <div class="ui massive breadcrumb">
        <a class="active section" href="/">Home</a>
        <div class="divider"> | </div>
        <a class="section" href="/login">Login</a>
        <div class="divider"> | </div>
        <a class="section" href="/register">Register</a>
    </div>
    </div>
  </div>
</div>