<%- include('header')%>

<div class="ui grid">
  <div class="two wide column">
  </div>
  <div class="ten wide column">
    <form class="ui form segment" method="post" action="/admin/category">
      <div class="field">
        <label>电影分类</label>
        <input placeholder="电影分类" type="text" name="category[name]" value="<%= category.name %>">
      </div>
      <input type="submit" class="ui red button fluid" value="录入"> 
    </form>
  </div>
</div>

<%- include('footer')%>