<%- include header %>

<div class="ui secondary pointing menu">
  <div class="header item">后台管理</div>
  <a class="item">用户管理</a>
  <a class="item">Messages </a>
  <a class="item">好友 </a>
  <div class="right menu">
    <a class="ui item active">登出 </a>
  </div>
</div>
<div class="ui card fluid">
  <div class="content">
    <div class="header">您好，<% user.name %></div>
    <p>欢迎进入我的博客后台管理！</p>
  </div>
</div>


<%- include footer %>