<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">     
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>         
    <script src="/js/semantic.min.js"></script>
    <script src="/js/register.js"></script>
  </head>
  <body>
    <%- include('components/nav') %>
